@model FarmFood.ViewModels.PersonalProfile.EditingProfileViewModel

<!DOCTYPE html>
<html lang="en" class="background_personal_profile">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/git/pages/styles/style_personal_profile.css">
    <link rel="stylesheet" href="~/git/pages/styles/style_editing_personal_account.css">
    <link rel="stylesheet" href="~/git/for_js_scripts/css_for_js/modal_search.css">
    <link rel="stylesheet" href="~/git/for_js_scripts/css_for_js/modal_categories.css">
    <link rel="icon" href="~/git/pages/images/farmfood_logo.svg" type="image/x-icon">
    <title>Редактирование профиля</title>
</head>
<body style="position: absolute;">
    <div class="init_app_navigation" style="left: 140px;">
        <div id="website_name" onclick="location.href='/'">Farmfood</div>
        <div class="panel_app_navigation">
            <img src="~/git/pages/images/magnifier.png">
            <input type="button" value="Поиск" id="search">
            <input type="button" value="Каталог" id="categories">
            <input type="button" value="Корзина" onclick="location.href='/ShopCart'">
            <input type="button" value="Личный кабинет" onclick="location.href='/Account/PersonalProfile'">
        </div>
        <input id="last_button" type="button" value="Разместить объявление" onclick="location.href='/Products/NewAdvertisementCategory'">
    </div>
    <div class="main_panel">
        <div class="transition_back">
            <input type="image" src="~/git/pages/images/vector_left_edit_profile.svg" onclick="location.href='/Account/PersonalProfile'">
            <h2>Личный кабинет</h2>
        </div>
        <div class="top_panel">
            <div>Профиль</div>
            <img src="~/git/pages/images/background_profile.jpg">
            <div>
                <img src="~/git/pages/images/avatar.png">
                <p>@Model.FullName</p>
            </div>
        </div>
        <form class="edit_info" asp-action="EditingProfile" asp-controller="Account" method="post">
            <ul>
                <li>
                    <label for="input_name">Имя Фамилия</label>
                    <input type="text" id="input_name" asp-for="FullName" required>
                    <span asp-validation-for="FullName" required data-filled="true"/>
                </li>
                <li>
                    <label for="input_city">Место проживания</label>
                    <input type="text" asp-for="CityOfResidence" id="input_city" required>
                    <span asp-validation-for="CityOfResidence" required data-filled="true"/>
                </li>

                <li>
                    <label for="input_phone">Номер телефона</label>
                    <input type="tel" id="input_phone" asp-for="PhoneNumber" required>
                    <span asp-validation-for="PhoneNumber" required data-filled="true" />
                </li>
                <li>
                    <label for="input_email">Эл. почта</label>
                    <input type="email" id="input_email" asp-for="Email" required>
                    <span asp-validation-for="Email" required data-filled="true" />
                </li>
                <li>
                    <label for="input_phone_WhatsApp">WhatsApp</label>
                    <img src="~/git/pages/images/whatsapp_icon.svg">
                    <input type="tel" id="input_phone_WhatsApp" asp-for="WhatsApp">
                    <span asp-validation-for="WhatsApp" required data-filled="true" />
                </li>
                <li>
                    <label for="input_url_vk">Вконтакте</label>
                    <img src="~/git/pages/images/vk_icon.svg">
                    <input type="url" id="input_url_vk" asp-for="VKontakte">
                    <span asp-validation-for="VKontakte" required data-filled="true" />
                </li>
                <li>
                    <label for="input_phone_Telegram">Telegram</label>
                    <img src="~/git/pages/images/telegram_icon.svg">
                    <input type="tel" id="input_phone_Telegram" asp-for="Telegram">
                    <span asp-validation-for="Telegram" required data-filled="true" />
                </li>
                <div></div>
                <input type="submit" value="Сохранить">
            </ul>
        </form>
    </div>
    <script src="~/git/for_js_scripts/data_validity/data_validity_editing_account.js"></script>
    <script src="~/git/for_js_scripts/modal.js"></script>
    <script>
        document.querySelector('#search').addEventListener('click', (e) => {
            if (e.target) {
                const modal_search = new ItcModal({ kind_of_class: 'search' });
                modal_search.setBody(`
                                        <form action="" post="get" id="form_search">
                                            <img src="/git/for_js_scripts/images_for_js/search.svg">
                                            <input type="text" id="search_line" name="search_line" placeholder="Найти продукты">
                                        </form>`)
                modal_search.show();
            }
        })
        document.querySelector('#categories').addEventListener('click', (i) => {
            if (i.target) {
                const modal_categories = new ItcModal({ kind_of_class: 'categories' });
                modal_categories.setBody(
                    `<table id="table_categories">
                                                <tr>
                                                    <td><input type="button" value="Все товары" onclick="location.href='/Products/List'"></td>
                                                    <td><input type="button" value="Полуфабрикаты" onclick="location.href='/Products/List/SemifinishedProducts'"></td>
                                                    <td><input type="button" value="Травы и пряности" onclick="location.href='/Products/List/KitchenHerbsAndSpices'"></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="button" value="Молоко, яйца, сыр" onclick="location.href='/Products/List/DairyProducts'"></td>
                                                    <td><input type="button" value="Грибы" onclick="location.href='/Products/List/Mushrooms'"></td>
                                                    <td><input type="button" value="Фрукты, ягоды, бахчевые" onclick="location.href='/Products/List/FruitsAndBerries'"></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="button" value="Рыба, морепродукты" onclick="location.href='/Products/List/FishAndSeafood'"></td>
                                                    <td><input type="button" value="Мёд" onclick="location.href='/Products/List/Honey'"></td>
                                                    <td><input type="button" value="Крупы, мука" onclick="location.href='/Products/List/CerealsAndFlour'"></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="button" value="Мясные продукты" onclick="location.href='/Products/List/MeatProducts'"></td>
                                                    <td><input type="button" value="Консервированные продукты" onclick="location.href='/Products/List/CannedFood'"></td>
                                                    <td><input type="button" value="Кондитерские изделия" onclick="location.href='/Products/List/Confectionery'"></td>
                                                </tr>
                                    </table>`);
                modal_categories.show();
            }
        })
    </script>
</body>
</html>